{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MFY</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'store/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'store/css/templatemo-sixteen.css' %}">
  <link rel="stylesheet" href="{% static 'store/css/owl.css' %}">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

<!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container d-flex justify-content-between align-items-center">
        <!-- Logo + Brand -->
         <a class="navbar-brand d-flex align-items-center logo-container" href="{% url 'index' %}">
          <img src="{% static 'store/images/MFY STANDARD DP (1).png' %}" alt="Logo" class="logo-img mb-1" />
          <h2 class="mb-0 text-logo">MADE FOR<em> YOU</em></h2>
        </a>
        
        <div class="d-lg-none cart-icon-mobile">
         <a href="{% url 'cart' %}" class="cart-icon position-relative">
           <i class="fa fa-shopping-cart fa-lg"></i>
           {% if cart_items_count %}
           <span class="cart-badge position-absolute badge rounded-pill bg-danger">
             {{ cart_items_count }}
           </span>
          {% endif %}
          </a>
        <!-- Mobile Login Icon -->
         <a href="{% url 'login' %}" class="login-icon text-white ml-2">
           <i class="fa fa-user fa-lg"></i>
         </a>
       </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">           
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Our Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact'  %}">Contact Us</a>
          </ul>
        </div>
        <div class="d-none d-lg-block cart-icon-desktop">
        <a href="{% url 'cart' %}" class="cart-icon position-relative">
          <i class="fa fa-shopping-cart fa-lg"></i>
          {% if cart_items_count %}
          <span class="cart-badge position-absolute badge rounded-pill bg-danger">
            {{ cart_items_count }}
          </span>
          {% endif %}
        </a>
        <!-- Desktop Login Icon -->
        <a href="{% url 'login' %}" class="login-icon text-white ml-3">
          <i class="fa fa-user fa-lg"></i>
        </a>
       </div>
      </div>
    </nav>
  </header>

  <!-- Banner -->
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">        
          <h4>Best Offer</h4>
          <h2>New Arrivals On Sale</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>Flash Deals</h4>
          <h2>Get your best products</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Last Minute</h4>
          <h2>Grab last minute deals</h2>
        </div>
      </div>
    </div>
  </div>
  
<!-- Search Bar BELOW Banner -->
<div class="container search-bar-container py-4">
  <form method="GET" action="{% url 'search_results' %}" class="search-bar-form d-flex justify-content-center">
    <input type="text" name="query" placeholder="Search products" class="search-bar-input form-control me-2" />
    <button type="submit" class="search-bar-button btn btn-dark">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>                                                                 

 <!-- Latest Products -->
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Latest Products</h2>
            <a href="{% url 'products' %}">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>

        {% for product in products %}
        <div class="col-md-4">
        <div class="product-item">
        <a href="{% url 'product_detail' product.id %}">        
          <img src="{{ product.first_image.image.url }}" alt="{{ product.name }}" class="product-card-image">
        </a>
    <div class="down-content">
      <a href="{% url 'product_detail' product.id %}"><h4>{{ product.name }}</h4></a>
      <h6>${{ product.price }}</h6>
      <p>{{ product.description }}</p>
      <ul class="stars">
        {% for i in "12345"|slice:":product.rating|default:0" %}
          <li><i class="fa fa-star"></i></li>
        {% endfor %}
      </ul>

      <form action="{% url 'add_to_cart' product.id %}" method="POST" class="variant-form" id="variant-form-{{ product.id }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block mt-2" style="background-color:#ff5e00; border:none;">
          <i class="fa fa-cart-plus"></i> Add to Cart
        </button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
  <!-- About -->
  <div class="best-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About MFY</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Looking for the best products?</h4>
            <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_blank">This template</a> is free to use for your business websites. Redistribution is not allowed. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
            <ul class="featured-list">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur adipisicing elit</a></li>
              <li><a href="#">Corporis nulla aspernatur</a></li>
              <li><a href="#">Omnis doloremque</a></li>
              <li><a href="#">Non cum id reprehenderit</a></li>
            </ul>
            <a href="{% url 'about' %}" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="{% static 'store/images/feature-image.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-md-8">
                <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elit.</p>
              </div>
              <div class="col-md-4">
                <a href="{% url 'products' %}" class="filled-button">Purchase Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2025 MFY.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{% static 'store/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'store/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'store/js/custom.js' %}"></script>
  <script src="{% static 'store/js/owl.js' %}"></script>
  <script src="{% static 'store/js/slick.js' %}"></script>
  <script src="{% static 'store/js/isotope.js' %}"></script>
  <script src="{% static 'store/js/accordions.js' %}"></script>

  <script>
    let cleared = [0, 0, 0]; // set a cleared flag for each field
    function clearField(t) {
      if (!cleared[t.id]) {
        cleared[t.id] = 1;
        t.value = '';
        t.style.color = '#fff';
      }
    }
   </script>
 
</body>
</html>
